<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST" class="search-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
    <p><a href="{% url 'travels:login' %}">Уже есть аккаунт? Войдите</a></p>
</body>
</html>